@tailwind base;
@tailwind components;
@tailwind utilities;

.span {
  background: linear-gradient(to right, #ffbdf0, #f289ff, #ce7aff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper {
  background: linear-gradient(#fff, #fff),
    linear-gradient(to right, #ffbdf0, #f289ff, #ce7aff);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat; /* this is important */
  border: 2px solid transparent;
  padding: 15px;
}
nav .active {
  text-decoration: underline;
}
.mobilNav {
  z-index: 9999;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 60px;
  grid-row-gap: 50px;
}
.btn {
  background: linear-gradient(to bottom, #f0daef, #eff3ff);
}
